<%- include('../../partials/headadmin.ejs') %>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="index.html"><img src="assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                
                <%- include('../../partials/sidebar.ejs') %>


                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>les Articles</h3>
            </div>
            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-12">
                        
                        <div class="row">
                            <div class="col-12 col-xl-12">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between">
                                        <h4>les articles</h4>
                                        <a href="/addArticle" class="btn btn-primary">Ajouter Articles</a>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-lg">
                                                <thead>
                                                    <tr>
                                                        <th>title</th>
                                                        <th>description</th>
                                                        <th>centenu</th>
                                                        <th></th>
                
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    

                                                    <% for(article of articles) { %>
                                                    <tr>
                                                        <td class="col-3">
                                                            <%= article.title %>
                                                        </td>
                                                        <td class="col-auto">
                                                            <%= article.description %>
                                                        </td>

                                                        <td class="col-auto">
                                                            <%= article.centenu %>
                                                        </td>
                                                        
                                                        <td>
                                                            <a class="btn btn-info btn-sm" href='/updateArticle/<%= article.id %>'>update</a>
                                                            <a class="btn btn-danger btn-sm" href='/deleteArticle/<%= article.id %>'>delete</a>
                                                            <a class="btn btn-info btn-sm" href='/deleteArticle/<%= article.id %>'>view</a>
                                                        </td>
                                                    </tr>
                                                    <% } %> 
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

<%- include('../../partials/footerAdmin.ejs') %>
            