<%- include('../../partials/headadmin.ejs') %>
<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="index.html"><img src="assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                
                <%- include('../../partials/sidebar.ejs') %>


                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>les Articles</h3>
            </div>
            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-12">
                        
                        <div class="row">
                            <div class="col-12 col-xl-12">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between">
                                        <h4>modifier Articles</h4>
                                    </div>
                                    <div class="card-body">
                                        <form action="/updateArticle/<%= article.id%>" method="POST" enctype="multipart/form-data">
                                            <div class="mb-3">
                                              <label for="exampleInputEmail1" class="form-label">title</label>
                                              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= article.title%>" name="title">
                                            </div>

                                            <div class="mb-3">
                                              <label for="exampleInputPassword1" class="form-label">description</label>
                                              <input type="text" class="form-control" id="exampleInputPassword1" value="<%= article.description%>" name="description">
                                            </div>

                                            <div class="mb-3">
                                                <label for="categories" class="form-label">categorie</label>
                                                <select name="" id="categories" class="form-control" value="<%= article.categoriId%>" name="categoriId">
                                                    <option value="">cat1</option>
                                                    <option value="">cat2</option>
                                                </select>
                                              </div>

                                              <div class="mb-3">
                                                <label for="exampleInputPassword1" class="form-label">centenu</label>
                                                <textarea class="form-control" name="centenu" id="" cols="30" rows="10" value=""><%= article.centenu%></textarea>
                                              </div>
                                        
                                            <button type="submit" class="btn btn-primary">save</button>
                                          </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

<%- include('../../partials/footerAdmin.ejs') %>
            